@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent; /* or set the color to match your background */
}
